{% extends 'user/user_layout.html' %}
{% block sub_content %}
<div class="ui green segment" style="width:95%;margin:2em auto;">
	<div class="ui divided items">
	    {% for consultant in consultants %}
		<div class="item">
		    <div class="content">
		      <a class="header">{{ consultant.real_name }}</a>
              <div style="font-size: 0.8em;font-weight: bold;">消耗点数：{{ consultant.value }}</div>
		      <div class="meta">
                {% if consultant.status == 'online' %}
		        <div class="ui tiny green label">在线</div>
                {% else %}
                <div class="ui tiny gray label">离线</div>
                {% endif %}
		      </div>
		      <div class="description">
		        <p></p>
		      </div>
		      <div class="extra">
		        <a class="ui right floated mini green button" href="/questions/new?to={{ consultant.id }}">
		          咨询
		          <i class="right chevron icon"></i>
		        </a>
		      </div>
		    </div>
	    </div>
	    {% endfor %}
	</div>
</div>
{% endblock %}