{% extends 'user/user_layout.html' %}
{% block sub_content %}
    <div class="ui middle aligned grid" style="margin:0;height:80%;">
	    <div class="column">
	        {% if question == None %}
		    <form class="ui form" action="/questions/create?to={{ to.id }}" method="POST">
		    {% else %}
            <form class="ui form" action="/questions/{{question.id}}/edit" method="POST">
            {% endif %}
		      {% if to != None %}
              <div class="field">
			      <h3>向 {{ to.profile.real_name }} 提问：</h3>
              </div>
              {% endif %}
			  <div class="field">
			      <label>问题描述：</label>
			      {% if question == None %}
			      <textarea name="description" placeholder="添加问题"></textarea>
			      {% else %}
			      <textarea name="description">{{ question.description }}</textarea>
			      {% endif %}
		      </div>
			  <button class="ui green fluid button " type="submit">提 交</button>
			</form>
		</div>
	</div>
{% endblock %}