{% extends 'user/user_layout.html' %}
{% block sub_content %}
    <div class="ui middle aligned grid" style="margin:15% 0 0 0;">
	    <div class="column">
		    <form class="ui form" action="/user/search" method="POST">
			  <div class="field">
			      <label>涉事地点：</label>
			      <select name="location">
                  {% for location in locations %}
			      	 <option>{{ location.name }}</option>
                  {% endfor %}
			      </select>
		      </div>
			  <div class="field">
			      <label>涉及业务：</label>
			      <select name="category">
                  {% for category in categories %}
			      	 <option>{{ category.name }}</option>
                  {% endfor %}
			      </select>
		      </div>
			  <button class="ui green fluid button " type="submit">搜 索</button>
			</form>
		</div>
	</div>
{% endblock %}