{% extends 'layout.html' %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block content %}
    <div class="pusher">
        <div class="ui green three item inverted menu " style="margin-bottom:0;">
            <a id="sidebar-trigger" class="item">
                <i class="inverted large sidebar icon" style="margin-left:-1em;"></i>
                <span>管 理</span>
            </a>

            <a class="item" href="/user/search">
                找专家
            </a>
            <a class="item">
                提问题
            </a>
        </div>
        {% block sub_content %}
        {% endblock %}
    </div>
    <div class="ui left vertical sidebar menu" style="width:62%;padding-top:0.5em;">
        <div class="item">
            <div class="header">问题管理</div>
            <div class="ui divider" style="margin-top:1em;margin-bottom:0;"></div>
            <div class="menu">
                <a class="item" href="/questions/by/{{ session['user']['uid'] }}">所有问题
                    <div class="ui green label">23</div>
                </a>
                <div class="item">
                    <div class="ui divider" style="margin:0;"></div>
                </div>     
                <a class="item" href="/questions/by/{{ session['user']['uid'] }}">已经回答
                    <div class="ui green label">15</div>
                </a>
                <div class="item">
                    <div class="ui divider" style="margin:0;"></div>
                </div>     
                <a class="item" href="/questions/by/{{ session['user']['uid'] }}">等待回答
                    <div class="ui gray label">8</div>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="header">个人管理</div>
            <div class="ui divider" style="margin-top:1em;margin-bottom:0;"></div>
            <div class="menu">
                <a class="item" href="">我的积分</a>
                <div class="item">
                    <div class="ui divider" style="margin:0;"></div>
                </div>     
                <a class="item" href="">个人资料
                </a>
                <div class="item">
                    <div class="ui divider" style="margin:0;"></div>
                </div>     
                <a class="item" href="/user/logout">退出系统
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/user.js') }}">
    </script>
    <script>
        $('.sidebar.menu').sidebar('attach events', '#sidebar-trigger');
    </script>
{% endblock %}
