{% extends 'layout.html' %}
{% block css%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}
{% block content %}
	<div class="ui green three item inverted menu" style="margin-bottom:0;">
	  <a class="item" href="/user/search">
	    找专家
	  </a>
	  <a class="item">
	    提问题
	  </a>
	  <a class="item">
	    管理
	  </a>
	</div>
{% endblock %}
<h1>用户主页</h1>
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/user.js') }}">
</script>
{% endblock %}