{% extends 'consultant/consultant_layout.html' %}
{% block sub_content %}
<div class="ui blue segment" style="width:95%;margin:2em auto;">
	<div class="ui divided items">
		{% for question in questions %}
		
		<div class="link item" style="margin-bottom:0.5em;padding-top:0.5em;">
		    <div class="content">
		        <div class="meta">
                	<span>{{ question.submitter.name }} 询问：</span>      
                </div>
                <div class="description">
                	<p>
			        	{{ question.description }}
			        </p>
                </div>
                <div class="description">
                	<p>
			        	{{ question.answer.description }}
			        </p>
                </div>
                {% if question.answer == None %}
                <div class="extra">
                	<a class="ui right floated blue mini button" href="/answers/for/{{question.id}}">我来回答</a>
                </div>
                {% else %}
                    <a class="ui right floated blue mini button" href="/answers/for/{{question.id}}">编辑答案</a>
                {% endif %}
		    </div>
		</div>	
		{% endfor %}
	</div>
</div>
{% endblock %}