.form label {
	margin-bottom:1em !important;
}

.form .button {
	margin-top:5em;
}


.ui.menu {
	border-radius: 0;
}

.ui.menu .item {
	font-weight : 700;
}

.menu a.item {
	color : white !important;
}