{% extends 'user/user_layout.html' %}
{% block content %}
{{ super() }}
<div class="ui devided items">
	<div class="item">
	    <div class="content">
	      <a class="header">张杰</a>
	      <div class="meta">
	        <span class="cinema">状态</span>
	      </div>
	      <div class="description">
	        <p></p>
	      </div>
	      <div class="extra">
	        <div class="ui right floated green button">
	          咨询
	          <i class="right chevron icon"></i>
	        </div>
	      </div>
	    </div>
    </div>
</div>
{% endblock %}