<!DOCTYPE html>
<html style="height:100%!important;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block title %}
        <title>大愚律税财咨询系统</title>
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        {% endblock %}
    </head>
    <body style="height:100%!important;">
        {% block content %}
        {% endblock %}
        <div id="uid" style="display:none;">{{ session['user']['uid'] }}</div>
        {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
        {% endblock %}
    </body>
</html>